<mat-toolbar color='primary'>
  <!--<button mat-button routerLinkActive='active' routerLink='{{menuBrand.path}}' (click)='setHome4QI(menuBrand.title)'><mat-icon>{{menuBrand.title}}</mat-icon></button>-->
  <div *ngFor='let headerMenuItem of headerMenuItems'>
    <button mat-button routerLinkActive='active' routerLink='{{headerMenuItem.path}}'>{{headerMenuItem.title}}</button>
  </div>
  <span class='my-spacer'></span>
  <div class='align-content-end'>
    <a href='#' class=''><mat-icon class=''>shopping_cart</mat-icon></a>
    <a href='#' class='' (click)='$event.preventDefault()'><mat-icon class=''>favorite</mat-icon></a>
    <a href='#' class='' (click)='$event.preventDefault()'><mat-icon>share</mat-icon></a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<span>current build: {{version.full}}</span>
