.mainContainer {
  min-height: 100%;
  height: 700px;
}
.recipeList {
  /*max-width: 60%;*/
  height: inherit;
}

.mat-drawer-backdrop.mat-drawer-shown{
  /*background-color: transparent !important;*/
  visibility: hidden !important;

}
