<mat-drawer-container class='mainContainer'>
  <!-- sidenav content -->
  <mat-drawer class='recipeList' #rcpelist mode='over' position='end'>
    <!--<mat-nav-list class='text-center mt-3'>-->
    <div class='d-flex flex-column'>
      <input type='search' [(ngModel)]='searchText' placeholder='search here'>
      <amm-category
        *ngFor='let cat of categories | category: searchText'
        [catName]='cat'
        color='primary'
        class='mat-raised-button cat-card'
        (click)='getDValue(cat); $event.preventDefault()'
        routerLinkActive='active'
        routerLink='{{cat.toLowerCase()}}'
      ></amm-category>
      <!--<span>value: {{group.value}}</span>-->
      <!--<a mat-list-item *ngFor='let recipe of recipes' routerLinkActive='active' routerLink="{{recipe.path}}">{{recipe}}</a>-->
    </div>
    <!--</mat-nav-list>-->
  </mat-drawer>
  <!-- sidenav end -->
  <!-- main page content -->
  <mat-drawer-content class='card-deck'>
    <router-outlet name='mainRO'></router-outlet><router-outlet name='detailRO'></router-outlet>
    <!--<amm-recipe
        style='max-width: 200px'
        [ngClass]=''
        *ngFor='let recipe of recipes; let idx=index;'
        [rcpeTitle]='recipe.title'
        [rcpeImg]='recipe.img'
        [rcpeDesc]='recipe.desc'
        [rcpeCat]='recipe.rcpcategory'
      ></amm-recipe>-->
    <button class='btn' (click)='rcpelist.toggle()'>submitt</button>
  </mat-drawer-content>
</mat-drawer-container>

